/* -------------------------------------------------------------- */
/* *Basic Setup  */
/* -------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2b32b2;
  color: white;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

a:focus,
a:hover {
  color: rgb(47, 21, 213) !important;
  text-decoration: none !important;
}
a {
  color: rgb(0, 179, 255);
  text-decoration: none !important;
  background-color: transparent;
}

/* -------------------------------------------------------------- */
/* *Reusable Setup  */
/* -------------------------------------------------------------- */

.row {
  max-width: 1140px; /* fixed width for all rows */
  margin: 0 auto; /* center content*/
}

h1 {
  margin: 0; /* required otherwise normalize.css will override this */
  color: white;
  word-spacing: 0.15%;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  padding: 2% 0;
  line-height: 150%;
}

/* -------------------------------------------------------------- */
/* *Particle Js  */
/* -------------------------------------------------------------- */

#particles-js {
  background: #1488cc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2b32b2, #1488cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#particles-js .particles-js-canvas-el {
  width: 100% !important;
  height: 100vh !important;
}

/* -------------------------------------------------------------- */
/* *Header Section  */
/* -------------------------------------------------------------- */

/* for - Upasana Ghosh in first page  */
.main-page-name {
  padding: 3%;
}

/* Software Engineer title */
.title-tag-main-page {
  position: absolute;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /* put things in center */
}

.profile-photo img {
  border-radius: 50%;
}

/* Style all social network icons */
.fa {
  padding: 2% 2%;
  font-size: 2%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #f8efba;
}

/* Add a hover effect if you want */
.fa:hover {
  transition-delay: 100ms;
  font-weight: bold;
}

.fa-bars:hover {
  font-weight: bold;
}

/* -------------------------------------------------------------- */
/* *Navbar Section  */
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* *about Section  */
/* -------------------------------------------------------------- */

.section-title {
  padding: 20px 0;
}

.about-me {
  padding: 0 0 100px 0; /* Hack -> to add to full screen */
  font-size: 120%;
}

/* -------------------------------------------------------------- */
/* *Card Section  */
/* -------------------------------------------------------------- */

.page-section-heading {
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0;
  color: #1488cc;
}

.card {
  box-shadow: 0px 2px 10px rgba(70, 71, 75, 0.7);
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 10px rgba(9, 80, 233, 0.7);
}

/* -------------------------------------------------------------- */
/* *Contact Section  */
/* -------------------------------------------------------------- */

.contact {
  /* background-color: #00bfff; */
  background: #2b32b2;
  padding-top: 100px;

  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-header {
  color: white;
  padding-bottom: 50px; /* Hack -> to add some space */
}

.hexicon {
  background: url("../../vendors/img/hex.png");
  width: 132px;
  height: 210px;
  position: relative;
  margin: 0 auto;
}
.inicon {
  position: absolute;
  width: 100%;
  height: 100%;
}

.inicon.gmail {
  background: url("../../vendors/img/gmail.png") no-repeat center 40px;
  background-size: 80px auto;
}

.inicon.twitter {
  background: url("../../vendors/img/twitter.png") no-repeat center 40px;
  background-size: 80px auto;
}
.inicon.linkedin {
  background: url("../../vendors/img/linkedin.jpg") no-repeat center 40px;
  background-size: 80px auto;
}

.inicon.github {
  background: url("../../vendors/img/github.jpg") no-repeat center 40px;
  background-size: 80px auto;
}

.inicon.gmail:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-size: 100px auto;
}

.inicon.github:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-size: 85px auto;
}
.inicon.linkedin:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-size: 80px auto;
}
.inicon.twitter:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-size: 80px auto;
}

/* -------------------------------------------------------------- */
/* *Footer Section */
/* -------------------------------------------------------------- */

.footer {
  background: #2b32b2;
  color: white;
}

/* -------------------------------------------------------------- */
/* *button Section (At the end) */
/* -------------------------------------------------------------- */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 3px solid white !important;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

/* .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
} */
.btn-circle i.animated,
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
